@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

body{
    margin: 0;
    text-align: center;
}

nav{
    padding: 4rem;
    background-color: #01937C;
    color: white; 
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

section{
    background-color: #FAF9F6;
    font-family: 'Caveat', cursive;
}

section h2{
    font-size: 2rem;
    text-decoration: underline; 
}

section p{
    font-size: 1.5rem;
    color: #045c4f;
    font-weight: lighter;
    border: 2px solid black;
    background: linear-gradient( white, #0df0ce);
}

section img{
    border: 4px solid rgb(48, 43, 43);
}

footer{
    padding: 4rem;
    background-color: #01937C;
    color: white; 
    font-family: 'Caveat', cursive;
}

footer h1{
    font-size: 3rem;
}

footer p{
    font-size: 2rem;
}
